<ng-container *ngFor="let product of products">
  <div class="card  mt-3">
    <div class="card-body">
      <div class="container row">
        <app-product-detail class="col col-md-6" [product]="product"></app-product-detail>
        <div class="col col-md-6 d-flex align-items-center justify-content-end">
          <button class="btn btn-primary" (click)="ToOrder(product)">Order as eGift</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-loading-screen *ngIf="isLoading"></app-loading-screen>