<div class="card">
    <div class="card-body">
        <div class="row">
            <h3 class="col col-md-12 d-flex justify-content-center">Oh snap!</h3>
        </div>
        <div class="row">
            <h5 class="col col-md-12 d-flex justify-content-center">An error occured while creating this request</h5>
        </div>
        <div class="row">
            <h5 class="col col-md-12 d-flex justify-content-center">Please try again</h5>
        </div>
        <div class="row">
            <a class=" col col-md-12 d-flex justify-content-center mt-5" (click) = "BackClicked()" >Go Back</a>
        </div>
    </div>
</div>