<div class="row d-flex justify-content-around">
    <div class="card col col-md-12 mt-3">
      <div class="card-body">
          <div class="container row">
              <app-product-detail class="col-sm-6" [product]="selectedProduct">
                  
              </app-product-detail>
          </div>
          <div class="container row">
            <h5 class="col-md-12">Total Order Amount</h5>
            <p class="col-md-12">{{orderDetail.totalOrderAmount | currency:'Php '}}</p>
          </div>
      </div>  
  </div>
  <div class="card col col-md-12 mt-3">
    <div class="card-body">
      <h5 class="card-title">Order Details</h5>
      <div class="row">
        <div class="col col-sm-6">
          <h6 class="card-text">Sender</h6>
          <p class="card-text ml-3" >Name: {{orderDetail.senderName}}</p>
          <p class="card-text ml-3" >Email Address:  {{orderDetail.senderEmail}}</p>
          <p class="card-text ml-3">Contact No.: {{orderDetail.senderContactNumber}} </p>
        </div>
        <div class="col col-sm-6">
          <h6 class="card-text">Recipient</h6>
          <p class="card-text ml-3">Name:  {{orderDetail.recipientName}}</p>
          <p class="card-text ml-3">Email Address: {{orderDetail.recipientEmail}}</p>
          <p class="card-text ml-3">Contact No.: {{orderDetail.recipientContactNumber}}</p>
          <p class="card-text ml-3">Dedication: {{orderDetail.additionalMes}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="mt-1 mb-2 col col-md-12 d-flex justify-content-between">
    <button type="submit" class="btn btn-danger" (click)="GoBack()">Back</button>
    <button type="submit" class="btn btn-success" (click)="CheckOut()">Check-out Order</button>
</div>
</div>